html, body {
  height: 100%;
  margin: 0;
}

#root, .full-page {
  height: 100%;
  width: 100%;
}

.thread-box {
  min-width: 100px;
  width: 250px;
  max-width: 1000px;

  min-height: 50px;
  height: 350px;
  max-height: 800px;

  display: flex;
  flex-direction: column;

  resize: both;
}

.thread-body {
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.thread-messages {
  padding: 0;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  //overflow-wrap: normal;
}

.message-input {
  padding: 0;
  min-height: 34px;
}

.message {
  margin-bottom: 5px;
}

.emoji-big {
  width: 128px;
  height: 128px;
}

.emoji-small {
  width: 16px;
  height: 16px;
}